 <link rel="stylesheet" href="{{ url_for('static', filename = 'cookiesStyler.css')}}">
    <script defer src="{{ url_for('static', filename = 'CookiesJS.js')}}"></script>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ContactUs</title>
    <link rel="stylesheet" href="{{ url_for('static', filename = 'cookiesStyler.css')}}">
    <script defer src="{{ url_for('static', filename = 'CookiesJS.js')}}"></script>
</head>

<header>
    <nav>
      <ul class="nav_links">
        {% if session['registered'] %}
            <li id=greeting> Welcome, {{ session['username'] | capitalize() }}</li>
        {% endif %}
        <li><a href = "{{ url_for('homepage.go_to_homepage')}}"> Homepage</a></li>
        <li><a href = "{{ url_for('ContactUs.go_to_contactus')}}"> Contact Us</a></li>
        <li><a href="{{ url_for('Assignment3_1.about_page')}}">About</a></li>
        <li><a href="{{ url_for('Assignment3_2.go_to_registerandsearch')}}">Register and Search</a></li>
        <li><a href="{{ url_for('Assignment_4.go_to_Assignment_4')}}">Assignment 4</a></li>

      </ul>
    </nav>

        <a class = "cta" href ="#"><button>Reut's Cookie Shop</button></a>
 </header>
